.custom-background {
    background-image: url('./a755am1xd.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    background-attachment: fixed; 
    position: relative;
    z-index: 0; 
}
 /* .custom-background2 {
    background-image: url('./a755am1xd.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    background-attachment: fixed; 
    position: relative;
    z-index: 0;  
}  */
